{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if staff_list %}
<ul>
  {% for staff in staff_list %}
  <li><a href="{% url staff-view staff.id %}">{{ staff }}</a>
  {% if staff.wm_id %}
  (<a href="{% url schedule-staff staff.wm_id %}">{% filter capfirst %}{% trans 'workflomax id' %}{% endfilter %}: {{ staff.wm_id }}</a>)
  {% endif %}
  </li>
  {% endfor %}
</ul>
<a href="{% url staff-add %}">{% filter capfirst %}{% trans 'add new' %}{% endfilter %}</a>
{% else %}
You don't have any staff, you can <a href="{% url staff-import %}">{% trans 'import' %}</a> them from Workflowmax or <a href="{% url staff-add %}">{% trans 'create new' %}</a>.

{% endif %}
{% endblock %}