{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if jobs %}
<ul>
  {% for job in jobs %}
  <li><a href="{% url job-view job.id %}">{{ job }}</a>
  {% if job.wm_id %}
  (<a href="{% url schedule-job job.wm_id %}">{% filter capfirst %}{% trans 'workflomax id' %}{% endfilter %}: {{ job.wm_id }}</a>)
  {% endif %}
  </li>
  {% endfor %}
</ul>
<a href="{% url job-add %}">{% filter capfirst %}{% trans 'add new' %}{% endfilter %}</a>
{% else %}
You don't have any jobs, you can <a href="{% url job-import %}">{% trans 'import' %}</a> them from Workflowmax or <a href="{% url job-add %}">{% trans 'create new' %}</a>.

{% endif %}
{% endblock %}