{% extends "base.html" %}
{% load i18n %}

{% block content %}
                    <div class="block">
                        <div class="hd">
                            <h2>{{ header }}</h2>
                        </div>
                        <div class="bd">
                            <h3>{% filter capfirst %}{% trans 'job list' %}{% endfilter %}</h3>
{% if jobs %}
  {% include 'job/block/joblist.html' %}
{% else %}
<p>You don't have any jobs, you can <a href="{% url job-import %}">{% trans 'import' %}</a> them from Workflowmax or <a href="{% url job-add %}">{% trans 'create new' %}</a>.</p>
<h4>But the most convenient way is to run 'manage.py wm_import' command.</h4>

{% endif %}

                        </div>
                    </div>
{% endblock %}