{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block stylefiles %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni_form/uni-form-generic.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni_form/uni-form.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}widgets.css" type="text/css" media="screen"/>
{% endblock %}
{% block scriptfiles %}
    <script src="{{ MEDIA_URL }}uni_form/uni_form/uni-form.jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}admin/js/core.js"></script>
    {{ form.media }}
{% endblock %}
{% block content %}
                    <div class="block">
                        <div class="hd">
                            <h2>{{ header }}</h2>
                        </div>
                        <div class="bd">
{% uni_form form helper %}
<script>
function get_staff() {
  var lSkill = $('#{{ form.type.auto_id }}').attr('value');
  var lStartDate = $('#{{ form.start_date.auto_id }}_0').attr('value') + ' ' + $('#{{ form.start_date.auto_id }}_1').attr('value');
  var lDueDate = $('#{{ form.due_date.auto_id }}_0').attr('value') + ' ' + $('#{{ form.due_date.auto_id }}_1').attr('value');
  $.get('{% url job-get-valid-staff %}', {skill: lSkill, start: lStartDate, due: lDueDate}, function(json) {
    html = ''
    for (var key in json) {
      staff = json[key];
      html += '<option value="'+staff[0]+'">'+staff[1]+'</option>'
    }
    $('#{{ form.staff.auto_id }}').html(html);
  }, "json");
}

$(document).ready(function() {
$('a').click(function(event) {
  if ($('#{{ form.description.auto_id }}').attr('value')) {
    if (!confirm('You really want to leave? You will loose your changes.')) {
      event.preventDefault();
    }
  }
});
$('#{{ form.type.auto_id }}').change(function(e){
  get_staff();
});
$('#{{ form.start_date.auto_id }}_0').change(function(e){
  get_staff();
});
$('#{{ form.start_date.auto_id }}_1').change(function(e){
  get_staff();
});
$('#{{ form.due_date.auto_id }}_0').change(function(e){
  get_staff();
});
$('#{{ form.due_date.auto_id }}_1').change(function(e){
  get_staff();
});
});
</script>
                        </div>
                    </div>
{% endblock %}