{% extends "base.html" %}
{% load i18n %}

{% block content %}
                    <div class="block">
                        <div class="hd">
                            <h2>{{ header }}</h2>
                        </div>
                        <div class="bd">
                            <h3>{% filter capfirst %}{% trans 'client list' %}{% endfilter %}</h3>
{% if clients %}
  {% include 'client/block/clientlist.html' %}
{% endif %}
                        </div>
                        <div class="bd">
                            <h3>{% filter capfirst %}{% trans 'staff list' %}{% endfilter %}</h3>
{% if staff_list %}
  {% include 'staff/block/stafflist.html' %}
{% endif %}

                        </div>
                        <div class="bd">
                            <h3>{% filter capfirst %}{% trans 'supplier list' %}{% endfilter %}</h3>
{% if suppliers %}
  {% include 'supplier/block/supplierlist.html' %}
{% endif %}
                        </div>
                    </div>
{% endblock %}