{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block stylefiles %}
  {% include 'fullcalendar/block/calstyle.html' %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni_form/uni-form-generic.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni_form/uni-form.css" type="text/css" />
{% endblock %}
{% block scriptfiles %}
  {% include 'fullcalendar/block/calscript.html' %}
    <script src="{{ MEDIA_URL }}uni_form/uni_form/uni-form.jquery.js" type="text/javascript"></script>
{% endblock %}


{% block centerblock %}
                    <div class="block">
                        <div class="hd">
                            <h2>{% filter capfirst %}{% trans 'search' %}{% endfilter %}</h2>
                        </div>
                        <div class="bd">
  {% include 'schedule/block/search.html' %}
                        </div>
                    </div>
{% endblock %}

{% block leftcol %}
                    <div class="block">
                        <div class="hd">
                            <h2>{% filter capfirst %}{% trans 'client' %}{% endfilter %}</h2>
                        </div>
                        <div class="bd">
  {% include 'schedule/block/client.html' %}
                        </div>
                    </div>
{% endblock %}
{% block rightcol %}
                    <div class="block">
                        <div class="hd">
                            <h2>{% filter capfirst %}{% trans 'job' %}{% endfilter %}</h2>
                        </div>
                        <div class="bd">
  {% include 'schedule/block/job.html' %}
                        </div>
                    </div>
{% endblock %}
{% block content %}
                    <div class="block">
                        <div class="hd">
                            <h2>{{ header }}</h2>
                        </div>
                        <div class="bd">
{% if not staff %}
                            <h2>{% filter capfirst %}{% trans 'staff calendars' %}{% endfilter %}</h2>
<p>
  <a href="{% url fullcalendar-events %}" id="switch_admin">admin</a> |
{% for staff in staff_list %}
  <a href="{% url fullcalendar-staff-events staff.id %}" id="switch_staff_{{ staff.id }}">{{ staff }}</a> | 
{% endfor %}
</p>
{% endif %}
                            <h2>{% filter capfirst %}{% trans 'calendar for:' %}{% endfilter %}&nbsp;<span id="current_calendar_name">{% if staff %}{{ staff }}{% else %}admin{% endif %}</span></h2>
  {% include 'fullcalendar/block/calbody.html' %}
                        </div>
                    </div>
<script>
function removeCalSources() {
  $('#calendar').fullCalendar( 'removeEventSource', '{% url fullcalendar-events %}');
{% for staff in staff_list %}
  $('#calendar').fullCalendar( 'removeEventSource', '{% url fullcalendar-staff-events staff.id %}');
{% endfor %}
}

function addSwitchCalendarEvent(id) {
  $(id).click(function(event){
    event.preventDefault();
    removeCalSources();
    $('#calendar').fullCalendar( 'addEventSource', $(id).attr('href'));
    $('#current_calendar_name').html($(id).html());
  });
}

  addSwitchCalendarEvent('#switch_admin');
{% for staff in staff_list %}
  addSwitchCalendarEvent('#switch_staff_{{ staff.id }}');
{% endfor %}
</script>
{% endblock %}
{% block sidebar %}
                <div class="block">
                    <div class="hd">
                        <h2>{% filter capfirst %}{% trans 'empty' %}{% endfilter %}</h2>
                    </div>
                    <div class="bd">
                    </div>
                </div>
{% endblock %}
