{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block stylefiles %}
  {% include 'fullcalendar/block/calstyle.html' %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni_form/uni-form-generic.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni_form/uni-form.css" type="text/css" />
{% endblock %}
{% block scriptfiles %}
  {% include 'fullcalendar/block/calscript.html' %}
    <script src="{{ MEDIA_URL }}uni_form/uni_form/uni-form.jquery.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
                    <div class="block">
                        <div class="hd">
                            <h2>{{ header }}</h2>
                        </div>
                        <div class="bd">
  {% include 'fullcalendar/block/calbody.html' %}
                        </div>
                    </div>
{% endblock %}
{% block sidebar %}
                <div class="block">
                    <div class="hd">
                        <h2>{% filter capfirst %}{% trans 'new' %}{% endfilter %}</h2>
                    </div>
                    <div class="bd">
                        <p><a href="{% url client-add %}">client</a>
                        <p><a href="{% url staff-add %}">staff</a>
                        <p><a href="{% url supplier-add %}">supplier</a>
                    </div>
                </div>
                <div class="block">
                    <div class="hd">
                        <h2>{% filter capfirst %}{% trans 'new job' %}{% endfilter %}</h2>
                    </div>
                    <div class="bd">
  {% uni_form form helper %}
                    </div>
                </div>
{% endblock %}
