[buildout]

base-eggs = 
    xscheduling 

eggs = ${buildout:base-eggs}

base-parts =
    django-uni-form
    django-app-media
    django-registration
    django-profiles
    django-rest
    fabric

    interpreter
    scripts

    site 
      
parts = ${buildout:base-parts}
        cmds
        extra-assets

unzip = true
newest = true 
develop = .

[django-rest]
recipe = zerokspot.recipe.git
repository = git://github.com/saas-kit/django-rest.git 
branch = production
as_egg = true

[django-app-media]
recipe = zerokspot.recipe.git
repository = git://github.com/saas-kit/django-app-media.git
branch = production
as_egg = true

[django-uni-form]
recipe = zerokspot.recipe.git
repository = git://github.com/saas-kit/django-uni-form.git 
branch = production
as_egg = true

[django-profiles]
recipe = zerokspot.recipe.git
repository = git://github.com/saas-kit/django-profiles.git 
branch = production
as_egg = true

[django-registration]
recipe = zerokspot.recipe.git
repository = git://github.com/saas-kit/django-registration.git
branch = production
as_egg = true

[fabric]
recipe = zerokspot.recipe.git
repository = git://github.com/saas-kit/fabric.git    
branch = production
as_egg = true

[interpreter]
recipe = zc.recipe.egg
eggs =  ${buildout:eggs}
base-extra-paths = 
    ${buildout:directory}/src/xscheduling/apps
extra-paths = ${interpreter:base-extra-paths}
interpreter = python
scripts = python

[site]
recipe        = djangorecipe
python        = interpreter
version       = trunk
eggs          = ${interpreter:eggs}
extra-paths   = ${interpreter:extra-paths}
projectegg    = xscheduling 
settings      = settings
wsgi          = false

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ${interpreter:eggs}
extra-paths = ${interpreter:extra-paths}
scripts =
    fab
entry-points =
    fab=fabric.main:main

[cmds]
recipe = collective.recipe.cmd
on_install=true
on_update=true
cmds= 
    ./bin/site syncdb 
    ./bin/site link_app_media

[extra-assets]
recipe = iw.recipe.cmd
on_install = true
on_update = false 
cmds =
    cd src/xscheduling/site_media/
    ln -sf ../media/yui-app-theme
    ln -sf ../media/fullcalendar
    ln -sf ../media/widgets.css
    cd ../media/
    cp DateTimeShortcuts.js ../../../parts/site/django/contrib/admin/media/js/admin/ 
