{% extends "base.html" %}
{% load i18n %}

{% block content %}
                    <div class="block">
                        <div class="hd">
                            <h2>{{ header }}</h2>
                        </div>
                        <div class="bd">
                            <h3>{% filter capfirst %}{% trans 'client list' %}{% endfilter %}</h3>
{% if clients %}
                            <table>
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Contact</td>
                                        <td>Phone</td>
                                        <td>Email</td>
                                        <td>Website</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </thead>
                                <tbody>
  </li>
  {% for client in clients %}
                                    <tr>
                                        <td>{{ client.name }}</td>
                                        <td>&nbsp;</td>
                                        <td>{{ client.phone }}</td>
                                        <td>{{ client.email }}</td>
                                        <td>{{ client.website }}</td>
                                        <td class="text-right"><a href="{% url client-view client.id %}">view</a> | <a href="{% url client-edit client.id %}">edit</a> | <a href="{% url client-delete client.id %}">delete</a></td>
                                    </tr>
    {% for contact in client.contacts.all %}
                                    <tr>
                                        <td>&nbsp</td>
                                        <td>{{ contact.name }}</td>
                                        <td>{{ contact.phone }}</td>
                                        <td>{{ contact.email }}</td>
                                        <td>&nbsp</td>
                                        <td class="text-right"><a href="{% url client-contact-edit client.id contact.id %}">edit</a></td>
                                    </tr>
    {% endfor %}
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td><a href="{% url client-contact-add client.id %}">{% trans 'add new' %}</a></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
  {% endfor %}
                                    <tr>
                                        <td><a href="{% url client-add %}">{% trans 'add new' %}</a></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
{% else %}
<p>You don't have any clients, you can <a href="{% url client-import %}">{% trans 'import' %}</a> them from Workflowmax or <a href="{% url client-add %}">{% trans 'create new' %}</a>.</p>
<h4>But the most convenient way is to run 'manage.py wm_import' command.</h4>

{% endif %}
                        </div>
                    </div>
{% endblock %}