{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if clients %}
<ul>
  {% for client in clients %}
  <li><a href="{% url client-view client.id %}">{% filter capfirst %}{% trans 'client' %}{% endfilter %} {{ client }}</a>
  {% if client.wm_id %}
  (<a href="{% url schedule-client client.wm_id %}">{% filter capfirst %}{% trans 'workflomax id' %}{% endfilter %}: {{ client.wm_id }}</a>)
  {% endif %}
  </li>
  {% endfor %}
</ul>
<a href="{% url client-add %}">{% filter capfirst %}{% trans 'add new client' %}{% endfilter %}</a>
{% else %}
You don't have any clients, you can <a href="{% url client-import %}">{% trans 'import' %}</a> them from Workflowmax or <a href="{% url client-add %}">{% trans 'create new client' %}</a>.

{% endif %}
{% endblock %}