{% load i18n %}
{% if client %}
  <h2>{% filter capfirst %}{% trans 'client info' %}{% endfilter %}</h2>
  <dl class="list">
    <dt>{% filter capfirst %}{% trans 'name' %}{% endfilter %}</dt><dd>{{ client.name }}</dd>
    <dt>{% filter capfirst %}{% trans 'email' %}{% endfilter %}</dt><dd>{{ client.email }}</dd>
    <dt>{% filter capfirst %}{% trans 'phone' %}{% endfilter %}</dt><dd>{{ client.phone }}</dd>
    <dt>{% filter capfirst %}{% trans 'fax' %}{% endfilter %}</dt><dd>{{ client.fax }}</dd>
    <dt>{% filter capfirst %}{% trans 'website' %}{% endfilter %}</dt><dd>{{ client.website }}</dd>
    <dt>{% filter capfirst %}{% trans 'referral source' %}{% endfilter %}</dt><dd>{{ client.referral_source }}</dd>
  </dl>
{% else %}
  <p>Smth went wrong</p>
{% endif %}
