{% load i18n %}
{% if client %}
  <h2>{% filter capfirst %}{% trans 'client info' %}{% endfilter %}</h2>
  <dl class="list">
    <dt>{% filter capfirst %}{% trans 'name' %}{% endfilter %}</dt><dd>{{ client.name }}</dd>
    <dt>{% filter capfirst %}{% trans 'email' %}{% endfilter %}</dt><dd>{{ client.email }}</dd>
    <dt>{% filter capfirst %}{% trans 'phone' %}{% endfilter %}</dt><dd>{{ client.phone }}</dd>
    <dt>{% filter capfirst %}{% trans 'address' %}{% endfilter %}</dt><dd>{{ client.address }}</dd>
    {% for contact in client.contacts.all %}
    <h2>{% filter capfirst %}{% trans 'contact' %}{% endfilter %} {{ contact.id }}</h2>
      {% include 'client/block/contact.html' %}
    {% endfor %}
    {% for note in client.notes.all %}
    <h2>{% filter capfirst %}{% trans 'note' %}{% endfilter %}</h2>
      {% include 'client/block/note.html' %}
    {% endfor %}
  </dl>
{% else %}
  <p>Smth went wrong</p>
{% endif %}
