{% load i18n %}
{% if client %}
  <h2>{% filter capfirst %}{% trans 'client info' %}{% endfilter %}</h2>
  <dl class="list">
    <dt>{% filter capfirst %}{% trans 'name' %}{% endfilter %}</dt><dd>{{ client.name }}</dd>
    <dt>{% filter capfirst %}{% trans 'email' %}{% endfilter %}</dt><dd>{{ client.email }}</dd>
    <dt>{% filter capfirst %}{% trans 'phone' %}{% endfilter %}</dt><dd>{{ client.phone }}</dd>
    <dt>{% filter capfirst %}{% trans 'fax' %}{% endfilter %}</dt><dd>{{ client.fax }}</dd>
    <dt>{% filter capfirst %}{% trans 'website' %}{% endfilter %}</dt><dd>{{ client.website }}</dd>
    <dt>{% filter capfirst %}{% trans 'referral source' %}{% endfilter %}</dt><dd>{{ client.referral_source }}</dd>
    {% if client.address %}
      <h2>{% filter capfirst %}{% trans 'address' %}{% endfilter %}</h2>
      {% with client.address as address %}
      {% include 'client/block/address.html' %}
      {% endwith %}
    {% endif %}
    {% if client.postal_address %}
      <h2>{% filter capfirst %}{% trans 'postal address' %}{% endfilter %}</h2>
      {% with client.postal_address as address %}
      {% include 'client/block/address.html' %}
      {% endwith %}
    {% endif %}
    {% for contact in client.contacts.all %}
    <h2>{% filter capfirst %}{% trans 'contact' %}{% endfilter %} {{ contact.id }}</h2>
      {% include 'client/block/contact.html' %}
      <a href="{% url client-contact-edit client.id contact.id %}">{% filter capfirst %}{% trans 'edit contact' %}{% endfilter %}</a>
    {% endfor %}
    {% for note in client.notes.all %}
    <h2>{% filter capfirst %}{% trans 'note' %}{% endfilter %}</h2>
      {% include 'client/block/note.html' %}
    {% endfor %}
  </dl>
  <p><a href="{% url client-contact-add client.id %}">{% filter capfirst %}{% trans 'add contact' %}{% endfilter %}</a></p>
  <p><a href="{% url client-edit client.id %}">{% filter capfirst %}{% trans 'edit client' %}{% endfilter %}</a></p>
  <p><a href="{% url client-delete client.id %}">{% filter capfirst %}{% trans 'delete client' %}{% endfilter %}</a></p>
{% else %}
  <p>Smth went wrong</p>
{% endif %}
