{% load i18n %}
{% if clients %}
                            <table>
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Contact</td>
                                        <td>Phone</td>
                                        <td>Email</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </thead>
                                <tbody>
  {% for client in clients %}
                                    <tr>
                                        <td>{{ client.name }}</td>
                                        <td>&nbsp;</td>
                                        <td>{{ client.phone }}</td>
                                        <td>{{ client.email }}</td>
                                        <td class="text-right"><a href="{% url schedule-root %}?q={{ client.name }}">view</a></td>
                                    </tr>
    {% for contact in client.contacts.all %}
                                    <tr>
                                        <td>&nbsp</td>
                                        <td>{{ contact.name }}</td>
                                        <td>{{ contact.phone }}</td>
                                        <td>{{ contact.email }}</td>
                                        <td class="text-right"></td>
                                    </tr>
    {% endfor %}
  {% endfor %}
                                </tbody>
                            </table>
{% endif %}
