{% extends "base.html" %}
{% load i18n %}

{% block scriptfiles %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript"> google.load("jquery", "1.3.2"); </script>
<script language="javascript">
$(document).ready(function() {

{% for api in apis %}
  $("#api_{{ api.id }}>a").click(function(e){
    e.preventDefault();
    
    $.post(this.href, {}, function(json) {
      var api = json[0];
      if (api.fields.enabled) {
        $("#api_{{ api.id }}>a").html("{% trans 'disable' %}");
        $("#api_{{ api.id }}>a").attr("href", "{% url api_settings-disable api.id %}");
      }
      else {
        $("#api_{{ api.id }}>a").html("{% trans 'enable' %}");
        $("#api_{{ api.id }}>a").attr("href", "{% url api_settings-enable api.id %}");
      }
    }, "json");
  });
  
  $("#apikey_{{ api.id }}").click(function(e){
    if ($("#apikey_{{ api.id }}>span>input").html() != null) return;
    var lApikey = $("#apikey_{{ api.id }}>span").html();
    $("#apikey_{{ api.id }}>span").html('<input type="text" value="' + lApikey + '"/><a href="{% url api_settings-set-apikey api.id %}">{% trans 'save' %}</a>&nbsp;<a href="#">{% trans 'cancel' %}</a>');
    $("#apikey_{{ api.id }}>span>a:first").click(function(em){
      em.preventDefault();
      var lNew_key = $("#apikey_{{ api.id }}>span>input").attr('value')
      $.post(this.href, {apikey: lNew_key}, function(json) {
        var api = json[0];
        if (api.fields.api_key == lNew_key) {
          $("#apikey_{{ api.id }}>span").html(lNew_key);
        }
        else {
          $("#apikey_{{ api.id }}>span>a").html('{% trans 'failed, try again' %}');
        }
      }, "json");
    });      
    $("#apikey_{{ api.id }}>span>a+a").click(function(ex){
      $("#apikey_{{ api.id }}>span").html(lApikey);
      ex.stopPropagation()
    });      
  });


{% endfor %}
 });
</script>
{% endblock %}

{% block content %}
<ul>
 {% for api in apis %}
    <li id="api_{{ api.id }}">
   {% if api.enabled %}
    <a href="{% url api_settings-disable api.id %}">{% trans 'disable' %}</a>
   {% else %}
    <a href="{% url api_settings-enable api.id %}">{% trans 'enable' %}</a>
   {% endif %}
    <dl>
    <dt>{{ api.name|capfirst }}</dt>
    <dd>uri: {{ api.uri }}</dd>
    <dd id="apikey_{{ api.id }}">api key: <span>{{ api.api_key }}</span></dd>
    <dd>optional: {% if api.optional %}True{% else %}False{% endif %}</dd>
    </dl>
    </li>
 {% endfor %}
</ul>
{% endblock %}