{% load i18n %}
{% if client %}
  <dl>
    <dt>{% filter capfirst %}{% trans 'name' %}{% endfilter %}</dt><dd>{{ client.name }}</dd>
    <dt>{% filter capfirst %}{% trans 'address' %}{% endfilter %}</dt><dd>{{ client.address }}</dd>
    <dt>{% filter capfirst %}{% trans 'postal address' %}{% endfilter %}</dt><dd>{{ client.postal_address }}</dd>
    <dt>{% filter capfirst %}{% trans 'phone' %}{% endfilter %}</dt><dd>{{ client.phone }}</dd>
    <dt>{% filter capfirst %}{% trans 'fax' %}{% endfilter %}</dt><dd>{{ client.fax }}</dd>
    <dt>{% filter capfirst %}{% trans 'website' %}{% endfilter %}</dt><dd>{{ client.website }}</dd>
    <dt>{% filter capfirst %}{% trans 'referral source' %}{% endfilter %}</dt><dd>{{ client.referral_source }}</dd>
    {% for contact in client.contacts %}
    <h2><a href="{% url workflowmax-contact contact.id %}">{% filter capfirst %}{% trans 'contact' %}{% endfilter %} {{ contact.id }}</a></h2>
      {% include 'workflowmax/block/contact.html' %}
    {% endfor %}
    {% for note in client.notes %}
    <h2>{% filter capfirst %}{% trans 'note' %}{% endfilter %}</h2>
      {% include 'workflowmax/block/note.html' %}
    {% endfor %}
  </dl>
  <a href="{% url workflowmax-contact-add client.id %}">{% filter capfirst %}{% trans 'add contact' %}{% endfilter %}</a>
  <a href="{% url workflowmax-client-edit client.id %}">{% filter capfirst %}{% trans 'edit client' %}{% endfilter %}</a>
{% else %}
  <p>Smth went wrong</p>
{% endif %}
