{% load i18n %}
{% if suppliers %}
                            <table>
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Contact</td>
                                        <td>Phone</td>
                                        <td>Email</td>
                                        <td>Website</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </thead>
                                <tbody>
  {% for supplier in suppliers %}
                                    <tr>
                                        <td>{{ supplier.name }}</td>
                                        <td>&nbsp;</td>
                                        <td>{{ supplier.phone }}</td>
                                        <td>{{ supplier.email }}</td>
                                        <td>{{ supplier.website }}</td>
                                        <td class="text-right"><a href="{% url supplier-view supplier.id %}">view</a> | <a href="{% url supplier-edit supplier.id %}">edit</a> | <a href="{% url supplier-delete supplier.id %}">delete</a></td>
                                    </tr>
    {% for contact in supplier.contacts.all %}
                                    <tr>
                                        <td>&nbsp</td>
                                        <td>{{ contact.name }}</td>
                                        <td>{{ contact.phone }}</td>
                                        <td>{{ contact.email }}</td>
                                        <td>&nbsp</td>
                                        <td class="text-right"><a href="{% url supplier-contact-edit supplier.id contact.id %}">edit</a></td>
                                    </tr>
    {% endfor %}
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td><a href="{% url supplier-contact-add supplier.id %}">{% trans 'add new' %}</a></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
  {% endfor %}
                                    <tr>
                                        <td><a href="{% url supplier-add %}">{% trans 'add new' %}</a></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
{% endif %}