{% extends "base.html" %}
{% load i18n %}

{% block stylefiles %}
  {% include 'fullcalendar/block/calstyle.html' %}
{% endblock %}
{% block scriptfiles %}
  {% include 'fullcalendar/block/calscript.html' %}
{% endblock %}

{% block content %}
                    <div class="block">
                        <div class="hd">
                            <h2>{{ header }}</h2>
                        </div>
                        <div class="bd">
  {% include 'fullcalendar/block/calbody.html' %}
                        </div>
                    </div>
{% endblock %}