{% load i18n %}
{% if contact %}
  <dl>
    <dt>{% filter capfirst %}{% trans 'name' %}{% endfilter %}</dt><dd>{{ contact.name }}</dd>
    <dt>{% filter capfirst %}{% trans 'mobile' %}{% endfilter %}</dt><dd>{{ contact.mobile }}</dd>
    <dt>{% filter capfirst %}{% trans 'email' %}{% endfilter %}</dt><dd>{{ contact.email }}</dd>
    <dt>{% filter capfirst %}{% trans 'phone' %}{% endfilter %}</dt><dd>{{ contact.phone }}</dd>
    <dt>{% filter capfirst %}{% trans 'position' %}{% endfilter %}</dt><dd>{{ contact.position }}</dd>
  </dl>
  <a href="{% url schedule-contact-edit contact.id %}">{% filter capfirst %}{% trans 'edit contact' %}{% endfilter %}</a>
{% else %}
  <p>Smth went wrong</p>
{% endif %}
