{% load i18n %}
{% load uni_form_tags %}

{% if client %}
{% if job_edit_form %}
                            <h3>{% filter capfirst %}{% trans 'latest job for' %}{% endfilter %} {{ client }}</h3>
  {% uni_form job_edit_form edit_job_helper %}
  <a href="{% url schedule-client-addjob client.id %}">new job</a>
{% endif %}
{% if job_form %}
                            <h3>{% filter capfirst %}{% trans 'new job for' %}{% endfilter %} {{ client }}</h3>
  {% uni_form job_form helper %}
{% endif %}
{% else %}
  <p>{% filter capfirst %}{% trans 'no client selected' %}{% endfilter %}</p>
{% endif %}
