{% load i18n %}
{% load uni_form_tags %}

{% if client %}
{% if job_edit_form %}
                            <h3>{% filter capfirst %}{% trans 'latest job for' %}{% endfilter %} {{ client }}</h3>
  {% uni_form job_edit_form edit_job_helper %}
  <a href="{% url schedule-client-addjob client.id %}">new job</a>
{% endif %}
{% if job_form %}
                            <h3>{% filter capfirst %}{% trans 'new job for' %}{% endfilter %} {{ client }}</h3>
  {% uni_form job_form helper %}
<script>
function get_staff() {
  var lSkill = $('#{{ job_form.type.auto_id }}').attr('value');
  var lStartDate = $('#{{ job_form.start_date.auto_id }}_0').attr('value') + ' ' + $('#{{ job_form.start_date.auto_id }}_1').attr('value');
  var lDueDate = $('#{{ job_form.due_date.auto_id }}_0').attr('value') + ' ' + $('#{{ job_form.due_date.auto_id }}_1').attr('value');
  $.get('{% url job-get-valid-staff %}', {skill: lSkill, start: lStartDate, due: lDueDate}, function(json) {
    html = ''
    for (var key in json) {
      staff = json[key];
      html += '<option value="'+staff[0]+'">'+staff[1]+'</option>'
    }
    $('#{{ job_form.staff.auto_id }}').html(html);
  }, "json");
}
$(document).ready(function() {
$('a').click(function(event) {
  if ($('#{{ job_form.description.auto_id }}').attr('value')) {
    if (!confirm('You really want to leave? You will loose your changes.')) {
      event.preventDefault();
    }
  }
});
$('#{{ job_form.type.auto_id }}').change(function(e){
  get_staff();
});
$('#{{ job_form.start_date.auto_id }}_0').change(function(e){
  get_staff();
});
$('#{{ job_form.start_date.auto_id }}_1').change(function(e){
  get_staff();
});
$('#{{ job_form.due_date.auto_id }}_0').change(function(e){
  get_staff();
});
$('#{{ job_form.due_date.auto_id }}_1').change(function(e){
  get_staff();
});
});
</script>
{% endif %}
{% else %}
  <p>{% filter capfirst %}{% trans 'no client selected' %}{% endfilter %}</p>
{% endif %}
