<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
  {% block stylefiles %}{% endblock %}
  <title>{% block title %}{% if header %}{{ header }}{% endif %}{% endblock %}</title>
  {% block scriptfiles %}{% endblock %}

</head>
{% load i18n %}
<body {% block bodyparam %}{% endblock %}>
{% block contentheader %}{% if header %}<h1>{{ header }}</h1>{% endif %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>