{% extends "base.html" %}
{% load i18n %}

{% block content %}
                    <div class="block">
                        <div class="hd">
                            <h2>{{ header }}</h2>
                        </div>
                        <div class="bd">
{% if suppliers %}
                            <h3>Supplier list</h3>
                            <ul class="list">
  {% for supplier in suppliers %}
  <li><a href="{% url supplier-view supplier.id %}">{{ supplier }}</a>
  {% if supplier.wm_id %}
  (<a href="{% url schedule-supplier supplier.wm_id %}">{% filter capfirst %}{% trans 'workflomax id' %}{% endfilter %}: {{ supplier.wm_id }}</a>)
  {% endif %}
  </li>
  {% endfor %}
                            </ul>
<a href="{% url supplier-add %}">{% filter capfirst %}{% trans 'add new' %}{% endfilter %}</a>
{% else %}
<p>You don't have any suppliers, you can <a href="{% url supplier-import %}">{% trans 'import' %}</a> them from Workflowmax or <a href="{% url supplier-add %}">{% trans 'create new' %}</a>.</p>
<h4>But the most convenient way is to run 'manage.py wm_import' command.</h4>

                        </div>
                    </div>
{% endif %}
{% endblock %}